<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <form action="{% url 'common:login' %}" method = "post">
    {% csrf_token %}
    {% comment %} 로그인이 성공후 이동하 url {% endcomment %}
    {% comment %}
      hidden 태그 next의 value로 next를 사용하면
      주소의 쿼리스트링에 있던 ?next주소로 이동
    {% endcomment %}
    <input type="hidden" name ="next" value"/note/">
    <table>
      <tr>
        <th>아이디</th>
        <td><input type="text"name = "username" ></td>
      </tr>
      <tr>
        <th>비밀번호</th>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td><button type="submit">로그인</button></td>
      </tr>
    </table>
  </form>
</body>
</html>