<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 작성하기</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
  <h1>글쓰기</h1>
    <form action="{%url 'item:write'%}" method="POST" enctype = "multipart/form-data" name="iForm" onsubmit="return abcd();">
      {% csrf_token %}
      <table>
        <tr>
          <th >코드</th>
          <td><input type="text" name="item_code" value="{{i.item_code}}"id="item_code"/></td>
        </tr>
        <tr>
          <th >이름</th>
          <td><input type="text" name="item_name" id="item_name"/></td>
        </tr>
        <tr>
          <th>수량</th>
          <td>
            <input type= "text" name="item_count" id="item_count" ></input>
          </td>
        </tr>
        <tr>
          <th colspan="2"></th>
          <td><input type="submit" value="글쓰기" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
