<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>수정하기</h1>
    <form action="../../update/{{order.id}}/" method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <th>상품값</th>
          <td><input type="text" name="price" value="{{order.price}}" /></td>
        </tr>
        <tr>
          <th>주소</th>
          <td>
            <input type="text" name="address" value="{{order.address}}" />
          </td>
        </tr>
        <tr>
          <th>주문내용</th>
          <td>
            <textarea name="order_text" cols="30" rows="10">
{{order.order_text}}</textarea
            >
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="수정하기" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
