<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #content{
      width: 96%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script>
    function abcd(){
      let titleValue = document.getElementById('title').value.trim();
      let text = document.getElementById('content').value.trim(); //안되면 text
      let badWords = ['바보','멍청이','한조']
      if (titleValue.length <= 5) {
        alert("제목 5글자 이하");
        return false;
      }
      for (let i = 0; i < badWords.length; i++){
        if (titleValue.includes(badWords[i]) || text.includes(badWords[i])) {
          alert(badWords[i] + "는 사용불가");
          return false;
        }
      }
      if(text.length <= 10) {
        alert("내용이 10글자 이하");
        return false;
      }
    }
  </script>
</head>

<body>
  <h1>영화 정보 등록</h1>
  <form action="{% url 'exam:write'%}" method="POST" name="writeForm" onsubmit="return abcd();">
    {% csrf_token %}
    <table border='1'>
      <tr>
        <td>
          <select name="genreType" id="">
            <option value="코미디">코미디</option>
            <option value="액션">액션</option>
            <option value="애니메이션">애니메이션</option>
          </select>
        </td>
        <td>
          영화 제목: <input type="text" name="title"/>
        </td>
      </tr>
      <tr>
        <th colspan="2" >
          <textarea name="content" id="content" rows="5"></textarea>
        </th>
      </tr>
      <tr>
          <th colspan="2" >
            <input type="submit" value="등록 하기" />
          </th>
      </tr>
    </table>
  </form>
</body>
</html>