{% extends 'common/base.html' %}
{% block title  %}[게시판 읽기] {% endblock title%}

{% block body %}
    <script>
    function confirmDelete(){
      let c = confirm('정말 삭제하시겠어요?')

      if(c){
        location.href = '/delete/'
      }
    }
    $(document).ready(function(){
      loadReplyList();
    });
    function showUpdateForm(param){
      // .../note/0/update_reply?rid=0
      location.href = 'update_reply?rid=' + param;
    }
    function loadReplyList(){
      let bNum = '{{note.id}}';
      console.log(bNum);
      $.ajax({
        url:'/note/load_reply/',
        type:'post',
        headers: {'X-CSRFTOKEN':'{{csrf_token}}'},
        data:{'id':bNum},
        success:function(response){
          //parse
          //each 반복문
          let replyList = JSON.parse(response["response"]);
          console.log(replyList);
          console.log(response);
          let str = "";
          $.each(replyList,function(i,item){
            //
            let replyContent = item.fields.reply_content;
            let replyUser = item.fields.user;
            // 바로바로 화면에 붙이려면 appemd
            //$("#replyList").append(replyContent + "<br>")
            str += "<sapn>"+replyUser+"</span>"+"&nbsp"+replyContent;
            //str += "<br>";
          })
          // HTML을 만들어서 한번에 넣으려면 html
          $("#replyList").html(str);
        }
      });
    }

    </script>
    <table border="1">
      <tr>
        <th>작성자ID : {{note.id}}</th>
        <th>제목 : {{note.title}}</th>
        <th>조회수 : {{note.view_count}}</th>
      </tr>
      <tr>
        <th colspan="3">날짜 : {{note.input_date}}</th>

        <td>
        {% if note.author.username == user.username%}
          <a href="{% url 'note:update' note.id %}">수정</a> &nbsp;
          <a href="{% url 'note:delete' note.id %}">삭제</a>
        {% endif%}
        </td>

      </tr>
      <tr>
        <td colspan="7" rowspan="4">{{note.content}}</td>
      </tr>
    </table>
    <div id = "replyArea">
      <!-- 댓글 목록 표시할곳-->
      <div>
        {#note 객체 뿐만 아니라 note와 fk로 엮인 객체는#}
        {#note.모델이름_set으로 가져올 수 있다#}
        {% if note.reply_set%}
          {% for reply in note.reply_set.all %}
            {% comment %} {{reply}}&nbsp;&nbsp;&nbsp; {% endcomment %}
            <span id="replyList"></span>
            <a href ="#" onclick = "javascript:showUpdateForm('{{reply.id}}')">수정</a> <span>/</span>
            <a href="{% url 'note:delete_reply' id=note.id rid=reply.id %}">삭제</a>
            <br/>
          {% endfor %}
        {% else %}
          <p>등록된 댓글이 없습니다</p>
        {% endif%}
      </div>
      <!-- 댓글 목록 표시할곳-->
      <div id ="replyForm">
        {% if not update  %} <!-- context에 update 대한 값을 찾지 못했을때-->
        <form action="{% url 'note:write_reply' note.id %}" method ="POST">
          {% csrf_token %}
          <textarea name="replyText"> {{reply.reply_content}}</textarea>
          <input type="submit" value="댓글쓰기">
        </form>
        {% else%} <!-- context에 update가 있을때-->
        <form action="{% url 'note:update_reply' note.id %}" method ="POST">
          {% csrf_token %}
          <input type="hidden" name="rid" value="{{reply.id}}">
          <textarea name="replyText"> {{reply.reply_content}}</textarea>
          <input type="submit" value="댓글수정">
        </form>
        {% endif %}
      </div>
    </div>
    <a href="{% url 'note:index' %}">목록으로</a>
{% endblock body%}
