{% extends 'common/base.html' %}
{% block title  %}[게시판] {% endblock title%}
{% block body %}
    <table border="1">
      <tr>
        <th>작성자ID : {{board.id}}</th>
        <th>제목 : {{board.title}}</th>
        <th>작성자 : {{board.writer}}</th>
        <th>조회수 : {{board.view_count}}</th>
      </tr>
      <tr>
        <th colspan="3">날짜 : {{board.input_date}}</th>
        <th>
          <a href="{% url'update' board.id%}">수정</a>
          <a href="{% url'delete' board.id%}">삭제</a>
        </th>
      </tr>
      <tr>
        <td colspan="4" rowspan="3">{{board.content}}</td>
      </tr>
    </table>
{% endblock body%}
